.Navbar {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  /* border-radius: 20px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  z-index: 999;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.SmallNav {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* border-radius: 20px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  z-index: 999;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
