.gallery-item {
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.gallery-image {
  width: 100%;
  display: block;
  margin-bottom: 10px; /* Gap between images */
  border-radius: 10px; /* Border radius */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.gallery-image:hover {
  transform: scale(1.03); /* Scale image on hover */
}

.gallery-caption {
  color: white;
  text-align: center;
}
.MainGallery {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
