@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Pirata+One&family=Silkscreen:wght@400;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  /* background-image: url("./Images/front.jpg"); */
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* overflow-x: hidden !important; */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body > * {
  position: relative;
  z-index: 2;
}
